:root{
    --app-primary-1 : #1C60A9;
    --app-basic-1: #F4F6F9;
    --app-white     : #fff; 
}

body {
    background-color: var(--app-primary-1);
}

.login-box .form-control{
    background-color: transparent;
    border-radius: 20px;
}

.login-box .input-group-text{
    border-radius: 0px 20px 20px 0px !important;
}
.login-box .input-group-text span{
    margin-right: 5px !important;
}

.login-box .form-control::placeholder,
.login-box .form-control
{
    color: #fff;
}

.reg-box .reg-left{
    position: relative;
    height: 100vh;
    width: 100%;
}

.reg-box .reg-left .reg-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg-box .reg-right{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.reg-box .reg-right .card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.reg-box .form-control{
    border-radius: 20px !important;
}

.reg-box .input-group .form-control{
    border-radius: 20px 0px 0px 20px !important;
    border-right: 0px;
}

.reg-box .input-group-text{
    border-radius: 0px 20px 20px 0px !important;
    background-color: #fff;
    border-left: 0px;
}

.reg-box .form-control:read-only ~ .input-group-append .input-group-text{
    background-color: #E9ECEF;
    border-left: 0px;
}